$principalColor : #BADC55 ;
$secundarylColor : #114232 ;
$backgroundColor : #F7F6BB ;
$secundarylColor50 : rgba(17, 66, 50, 0.5) ;
$backgroundColor50 : rgba(247, 246, 187, 0.5) ;
$black : #000000 ;
$black50 : rgba(0, 0, 0, 0.5) ;
$gray : #929292 ;
$white : #ffffff ;
$sky : #3DD0FF ;
$sun: #FFF73D ;
$error : #FFC4C4 ;
$check : #CBFFB2 ;