/* Tamaño tipografia */
$fontSize-H1 : 80px ;
$fontSize-H2 : 50px ;
$fontSize-H3 : 26px ;
$fontSize-H4 : 20px ;
$fontSize-ParagraphM : 16px ;
$fontSize-ParagraphS : 10px ;
$fontSize-input : 12px ;

/* Tamaño dispositivo */
$deviceSize-desktop : 1440px ;
$deviceSize-smartphone : 720px ;